/* Components */
.primaryButton{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    transition: all .7s;
    cursor: pointer;
}

.formButton{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    margin-top: 18px;
    margin-left: auto;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    transition: all .7s;
    cursor: pointer;
}

.primaryButton:hover, .formButton:hover, .addCategory button:hover{
    background-color: var(--accent-color);
    color: var(--text-color);
}

.buttonLink{
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    padding:12px  8px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
}

.buttonLink:hover{
    color: var(--primary-color);
}

/* Typography */
.componentHeader{
    color: var(--primary-color);
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.btnGroup{
    display: flex;
    gap: 16px
}

/* Form */
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 14px;
}

.formGroup label{
    font-size: 20px;
    color:var(--primary-color);
}

.formGroup input, .formGroup textarea, .formGroup select, .input{
    padding: 8px 16px;
    margin-bottom: 8px;
    font-size: 16px;
    color: var(--text-color);
    outline: none;
    border: 1.5px solid var(--secondary-color);
    border-radius: 4px;
}

.formGroup input:focus{
    border: 2px solid var(--accent-color);
    outline: none;
    box-shadow: inset 0 0 5px var(--secondary-color);
}

.errorText{
    color: var(--error-color);
    font-size: 14px;
}
.errorSuccess{
    color: var(--error-success);
    font-size: 14px;
}
.signupContainer{
    width: 70%;
    height: 100vh;
    margin: 8% auto;
}
.flexTextImage {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .flexTextImage section:first-child {
    flex: 1;
  }
  
  .flexTextImage section:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .mailImg{
    width: 500px;
    height: 500px;
  }

.responseMessage {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
  
.responseMessage.success {
    color: var(--success-color);
}
  
.responseMessage.error {
    color: var(--error-color);
}

.flexText{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-top: 16px;
}

@media screen and (max-width: 966px){
    .mailImg{
        width: 350px;
        height: 300px;
      }
}

@media screen and (max-width: 768px){
    .componentHeader{
        font-size: 28px;
    }

    .primaryButton, .formButton{
        font-size: 14px;
    }

    .formButton{
        width: 160px;
    }

    .formGroup label{
        font-size: 18px;
    }
    
    .formGroup input, .formGroup textarea, .formGroup select, .input{
        font-size: 14px;
    }

    .signupContainer{
        width: 80%;
    }
    .flexTextImage {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    
      .mailImg {
        display: none;
      }
    
      .formGroup {
        width: 100%;
        max-width: 400px;
      }
}


/* Welcome Section */
.welcomeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: var(--primary-color);
    text-align: center;
}
.welcomeContainer .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.welcomeContainer .header{
    display: flex;
    align-items: center;
    gap: 24px;
}

.welcomeContainer .header h1{
    font-size: 64px;
}

.welcomeContainer h3{
    font-size: 24px;
}

.welcomeContainer h4{
    font-size: 20px;
}

.welcomeContainer ul{
    list-style-type: none;
}

@media screen and (max-width: 768px){

    .welcomeContainer .header{
        gap: 0;
    }

    .welcomeContainer .header h1{
        font-size: 38px;
        margin-top: 36px;
    }

    .welcomeContainer h3{
        font-size: 20px;
        margin-top: 32px;
    }

    .welcomeContainer h4{
        font-size: 18px;
        margin-top: 32px;
    }
}


/* Create Email */
.emailForm{
    padding: 0 24px;
}


/* Manage Categories */
.manageCategories {
    margin: 20px;
  }
  
  .addCategory {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

.addCategory input{
    padding: 8px 16px;
    font-size: 16px;
    color: var(--text-color);
    outline: none;
    border: 1.5px solid var(--secondary-color);
    border-radius: 4px;
}

.addCategory input:focus{
    border: 2px solid var(--accent-color);
    outline: none;
    box-shadow: inset 0 0 5px var(--secondary-color);
}

.addCategory button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    transition: all .7s;
    cursor: pointer;
}
  
.categoriesTable {
    width: 100%;
    border-collapse: collapse;
}
  
.categoriesTable th, .categoriesTable td {
    border: 1px solid var(--accent-color);
    padding: 12px;
    text-align: left;
}
  
.categoriesTable th {
    background-color: var(--secondary-color);
    font-size: 20px;
}

.editCategoryInput{
    border: 1px solid var(--text-color);
    background-color: var(--background-color)
}

.categoriesTable button, .manageRecipients .actionButton{
    padding: 6px 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.categoriesTable button.cancelbtn, .cancelButton{
    color: var(--accent-color);
}

.categoriesTable button.savebtn, .saveButton{
    color: var(--success-color);
}
.categoriesTable button.deletebtn, .deleteButton{
    color: var(--error-color);
}
  
  @media screen and (max-width: 768px){
    .addCategory input{
        padding: 6px 12px;
        font-size: 16px;
    }
    .addCategory button{
        padding: 8px 12px;
        font-size: 12px;
        font-weight: 600;
    }
}


/* Manage Recipients */
.manageRecipients {
  padding: 20px;
}

.componentHeader {
  font-size: 24px;
  margin-bottom: 20px;
}

.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.searchBar {
  margin-bottom: 10px;
}

.filter {
  margin-bottom: 20px;
}

.recipientsTable {
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  white-space: nowrap;
}

.recipientsTable th,
.recipientsTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--accent-color);
}

.recipientsTable th {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px){
    .search{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}