/* General Layout */
.main-section {
  display: flex;
  height: 100vh;
}

/* Sidebar Styling */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--primary-color);
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar .logo {
  text-decoration: none;
  color: var(--hover-color);
  font-size: 32px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  color: var(--secondary-color);
  padding-left: 8px;
}

.sidebar .dropdownToggle {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.sidebar .dropdownMenu {
  list-style-type: none;
  padding-left: 18px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.sidebar .dropdownMenu.open {
  max-height: 300px;
  opacity: 1;
}

.sidebar .dropdownMenu li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.sidebar .dropdownMenu li a:hover {
  color: var(--hover-color);
}

/* Hamburger Icon Styling */
.hamburgerIcon {
  position: fixed;
  top: 15px;
  left: 15px;
  cursor: pointer;
  z-index: 1100;
}

.hamburgerIcon img {
  width: 30px;
  height: 30px;
}

.hidden {
  display: none;
}

/* Close Icon */
.closeIcon {
  cursor: pointer;
  visibility: visible;
}

/* Responsive Styling */
@media screen and (min-width: 768px) {
  .hamburgerIcon {
    display: none;
  }

  .closeIcon {
    cursor: pointer;
    visibility: hidden;
  }

  .sidebar {
    transform: translateX(0);
  }
}
