# Dependency directories
node_modules/

# Lock files
package-lock.json

# Environment files
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
